/*-------------CSS RESET-----------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/*------------------parallax css----------*/
section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

section.sec2 {
  background: url(./files/images/day-min.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
section.sec3 {
  background: url(./files/images/sunset-min.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
section.secText {
  font-family: "8bit";
  padding: 50px 100px;
  height: auto;
  background-color: #1266e6;
  color: white;
}
section.secText h1 {
  font-family: "8bit";
  margin: 0;
  padding: 0;
  font-size: 48px;
  color: white;
  text-align: center;
}
section.secText p {
  font-family: "8bit";
  font-size: 18px;
}

/*---------------Menu CSS-------------------------*/

#MenuItemCover {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: inline-block;
  position: fixed;
  top: 65%;
  left: 85%;
  z-index: 1;
}
#MenuItem {
  font-family: "8bit";
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #1266e6;
  box-shadow: 1px 1px 1px 1px #051570;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin-left: 60px;
  margin-top: 60px;
  color: white;
  font-weight: bold;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

#MenuItem:hover,
.Submenu:hover {
  box-shadow: 2px 2px 5px 2px #051570;
}

.Submenu {
  font-family: "8bit";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px #4d040a;
  position: absolute;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  margin-top: 75px;
  color: #1266e6;
  font-weight: bold;
  font-size: 9px;
}

.Submenu a,
.Submenu a:hover {
  text-decoration: none;
}
/*---------------------Projects Accordion-------------------*/
/*set accordian with to 805px for another image*/

.accordian {
  width: 805px;
  height: 320px;
  overflow: hidden;

  /*Time for some styling*/
  margin: 100px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
  width: 1200px;
  /*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
  position: relative;
  display: block;
  width: 160px;
  height: 320px;
  float: left;

  border-left: 1px solid #888;

  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

  /*Transitions to give animation effect*/
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  /*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {
  width: 60px;
}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
  width: 440px;
}

.accordian li img {
  display: block;
}

/*Image title styles*/
.image_title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
}

.image_title a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}

.image_title a:hover {
  text-decoration: none;
  color: white;
}
/*--------SEAN CSS-------------------------------------*/
#videoWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
#videoWrapper video {
  object-fit: fill;
}
#videoOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #1266e6;
  opacity: 0.65;
}
#miniMe {
  position: relative;
  left: 46%;
  transform: translate(-50%);
}
#welcomeText {
  font-family: "8bit";
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}
.cursor {
  animation: blink 1.4s infinite;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}

.boxDisplay img {
  display: inherit;
  margin: auto;
}

.boxDisplay {
  cursor: pointer;
}

.boxDisplay a img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.boxDisplay a p {
  text-decoration: none;
  color: white;
}

.projectOverlay {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.65;
}

#titleListContainer {
  text-align: center;
  font-size: 1.2em;
  margin-top: 5%;
}

.over9k {
  animation: blink 0.8s infinite;
  color: red;
  font-size: 1.6em;
}

.projectButtons {
  display: inline-block;
}

.image_title p {
  display: inline-block;
  margin: 3%;
}

#infoButton {
  margin-left: 2%;
}

#baconModal,
#csfewbcModal,
#memoryModal,
#cardmallModal {
  color: #1266e6;
}

/*------Media Query Start-----------------------*/
/*iphone 4*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    /*some code here*/
}
/*iphone 5*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .linkTitles {
      padding-left: 1rem;
    }
}

/*iphone 6 7 8*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .linkTitles {
      padding-left: 1rem;
    }
}

/*iphone plus*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .linkTitles {
      padding-left: 1rem;
    }
}

/*iphone x*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .linkTitles {
      padding-left: 1rem;
    }
}


/*Google Pixel*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}
/*Samsung Galaxy*/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/*-----------Typing effect CSS-------------*/
@keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes type {
  from {
    width: 0;
  }
}

@font-face {
  font-family: "8bit";
  src: url("./files/font/Minecraft-Regular.otf");
}
